.env
**/.env

node_modules/
**/node_modules/

.DS_Store
**/.DS_Store

*.zip

backend/data/
backend/neg_data/
backend/fire-dataset-extracted/
backend/detections/

yolov8s.pt
backend/yolov8s.pt
backend/models/yolov8s.pt
backend/yolov8m.pt
backend/models/yolov8m.pt